MYSQL_DATABASE=marketsafe
MYSQL_USER=marketsafe
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_root_password

DB_HOST=db
DB_PORT=3306
DB_NAME=marketsafe
DB_USER=marketsafe
DB_PASSWORD=change_me

APP_ENV=dev
DB_MODE=dev

MYSQL_PORT=3306
API_PORT=8000
FRONTEND_PORT=4200